body {
    justify-content: center;
    background-color: #F87C7C;
}

p {
    color: #000000;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/*Tap to Start Order text*/
.startTitle {

    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}
.startTitle:hover {
    transform: scale(1.2);
}

.logoContainer{
    text-align: center;
    display: flex;
    justify-content: center;
}

/*Order Kiosk layout*/
.layout {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: px;
    }
    
.sidebar { 
    background-color: #F87C7C;
    grid-area: 1 / 1 / 6 / 2; }
.mainBody { 
    grid-area: 1 / 2 / 6 / 5; }
.subtotal { 
    background-color: #F87C7C;
    grid-area: 1 / 5 / 6 / 6; }
