html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.startBody {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F87C7C;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.startTitle {
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.startTitle:hover {
    transform: scale(1.2);
}

.logoContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
}

.sidebar {
    background-color: #F87C7C;
    padding: 20px;
}

.mainBody {
    background-color: white;
    padding: 20px;
}

.subtotal {
    background-color: #F87C7C;
    padding: 20px;
}