.page {
  padding: 16px;
  height: 100vh;
  background-color: white;
  color: black;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.actionbuttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.tablecontainer {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  /* margin-bottom: 20px; */
  height: 100%;
  min-height: 200px;
  /* background-color: whitesmoke; */
  /* box-shadow: inset 0px -20px 20px -2px black; */
  box-shadow: inset -10px -10px 12px -5px lightgray;
  border-bottom: 5px double black;
  border-right: 5px double black;
  background-color: whitesmoke;
}

.page table {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  /* max-width: 100vw; */

  /* max-width: 100vh; */
  text-align: left;
  border-spacing: 0px;
  min-width: 600px;
}

@media (max-width: 750px) {
  .headerbar:not(.one) {
    margin-bottom: 10px;
  }

  .page table {
    padding: 5px;
  }

  .tablecontainer {
    margin-top: 0;
  }

  .actionbuttons {
    display: flex;
    justify-content: space-around;
    gap: 4px;
  }
}

.page th {
  padding-top: 5px;
  font-size: large;
  margin-left: 5px;
}

.page tr {
  gap: 2px;
  border-spacing: 2px;
  cursor: pointer;
}

/*     */

.page tbody tr:hover {
  background-color: lightgray;
}
